/Proyecto Agenda/Proyecto Agenda Netbeans/nbproject/private/
/Proyecto Agenda/Proyecto Agenda Netbeans/build/
/Agenda con estandar/Agenda estandar/nbproject/private/
/Agenda con estandar/Agenda estandar/build/